@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

html, body{
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	background-color: #2C3E50;
	background-image: linear-gradient(315deg, #2C3E50 0%, #000000 74%);
	color: #C5C6C7;
}

hr{
	border-color: #c5c6c7;
}

.color-special{
	color: #FF92AD;
}

.color-inactive{
	color: #66FCF1;

}

.color-active{
	color: #D9B08C;
}

.color-highlight{
	color: #D1E8E2;
}

.main-content{
	width: 63vw;
	margin-top: 12rem;
	margin-left: 4rem;
}

.topic-content{
	width: 63vw;
	margin-top: 6rem;
	margin-left: 4rem;
}

.cta-button{
	position: fixed;;
	right: 10px;
	top: 10px;
	border-radius: 10px;
	border-style: none;
	z-index: 3
}

.cta-button:hover{
	color: black;
	background-color: white;
	cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .main-content{
  	min-width: 90vw;
  	margin-top: 8rem;
  }
  .topic-content{
  	min-width: 80vw;
  	margin-right: 4rem;
  }
}

@media only screen and (max-width: 576px) {
  .cta-button{
  	display: none;
  }
  .main-content{
  	width: 100%;
  	text-align: center;
  	margin-top: 6rem;
  	margin-left: 0;
  }
  .topic-content{
  	width: 100%;
  	text-align: center;
  	margin-top: 3rem;
  	margin-left: 0;
  }
}