.skill-item{
	display: inline-block;
	width: 64px;
	transition: transform .2s;
}

.skill-item:hover {
    transform: scale(1.3);
}

.hobby-item{
	display: inline-block;
	width: 96px;
	transition: transform .2s;
}

.hobby-item:hover {
    transform: scale(1.3);
}

.hobby-item img{
	margin-left: -16px;
}